.dropdown-pjt {
	width: 100%;
	letter-spacing: 1px;
	display: block;
	font-family: "helvetica neue", sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	border: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	cursor: pointer;
	outline: none;

}

.pjtdropdown {
	background-color: rgba(255,255,255,0);
	color: #505050;
	margin: 5px 0px;
	padding: 1px 0px;
}

.pjtdropdown:hover {
	color: rgba(150,150,150,1);

}

.pjtdropdown:active {
	color: rgba(150,150,150,1);;
}

.pjt-no-dropdown {
	background-color: rgba(255,255,255,0);
	color: #505050;
	margin: 5px 0px;
	padding: 1px 0px;
	width: 100%;
	letter-spacing: 1px;
	display: block;
	font-family: "helvetica neue", sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	border: none;
	outline: none;
}

.dropdown-pjt-container {
	display: none;
	padding: 0px 10px 0px 15px;
	margin: 10px 0 40px 0;
	border-bottom: 1px solid #aaa;
}

.pjt-info {
font-family:  "helvetica neue", sans-serif;
  font-size: 13px;
  line-height: auto;
  padding: 0px 20px;
  margin: 0px 20px 0px 0px;
}

.pjt-info a:link, .pjt-info a:visited, .pjt-info a:active {
	color: rgba(150,150,150,1);
	text-decoration: underline;
	font-weight:500;
	text-transform: lowercase;
  }
  
.pjt-info a:hover {
	color: rgba(150,150,150,1);;
  }

.pjt-des {
	font-family:  "helvetica neueu", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #505050;
  padding: 0px 20px 20px 20px;
  margin: 0px 0px 20px 0px;
 
}

.pjt-nr {
	display: inline-block;
	font-size: 13px;
  padding: 0px 20px 0px 0px;
  font-weight: 300;
}

.pjt-year {
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	margin: 0px 0px 0px 8px;
}

.pjt-info img {
	width: 100%;
	margin: 50px 0px 25px 0px;
}